.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #242424;
  }

  100% {
    background-color: #282828;
  }
}

.skeleton-text {
  width: 100%;
  border-radius: .125rem;
}
